body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #CCCCCC;
    margin-right: 10px;
}

nav ul li.selected {
    color: #FF7800;
}

.container main {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #999999;
    text-transform: uppercase;
    margin-left: 20px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sideA {
    width: 80%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background-color: white;
}

#sideA ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sideA ul li {
    border: 1px solid #EEEEEE;
    padding: 15px;
    margin: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sideA ul li img {
    width: 60px;
    margin-right: 25px;
}

#sideA ul li span {
    width: 80%;
}

#sideB {
    width: 100%;
    margin-bottom: 10px;
}

#sideB ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

#sideB ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#sideB ul li h5 {
    margin: 0;
    padding: 0;
}

#sideB .desconto {
    color: #FF7800;
}

#sideB .total {
    margin-top: 20px;
    font-weight: 700;
}

#sideB button {
    background-color: #FF6C00;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 0px #D45A00;
    border-radius: 3px;
    color: #ffffff;
    height: 60px;
    width: 100%;
    border: 0;
    margin-top: 15px;
    border-radius: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #CCCCCC;
}

@media (max-width: 600px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
        font-size: 20px;
        margin-right: 10px;
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked+.menu {
        display: flex;
        flex-direction: column;
    }
}