body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

/* header */
nav {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #CCCCCC;
}

.selected {
    color: #FF7800;
}


/* Menu */

main {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #999999;
    text-transform: uppercase;
    margin-left: 20px;
}


#menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#sideA {
    width: 80%;
    height: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background-color: white;
}

#sideA ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#sideA ul li {
    border: 1px solid #EEEEEE;
    padding: 15px;
    margin: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sideA ul li img {
    width: 60px;
    margin-right: 25px;

}

#sideA ul li span {
    width: 80%;
}



#sideB {
    width: 20%;

    margin-left: 20px;
    margin-right: 20px;

}

#sideB ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

#sideB ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    height: 15px;
}

#sideB ul li h5 {
    margin: 0px;
    padding: 0px;
}

#sideB .desconto {
    color: #FF7800;
}

#sideB .total {
    margin-top: 20px;
    font-weight: 700;
}

#sideB button {
    background-color: #FF6C00;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px -3px 0px #D45A00;
    border-radius: 3px;
    color: #ffffff;
    height: 60px;
    width: 100%;
    border: 0;
    margin-top: 15px;
    border-radius: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
}



/* Header */
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--gray);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}


/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
    header {
        display: none;
    }

    #menu-md {
        display: block;
    }
}

@media (min-width: 600px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--gray);

    }

    .hamb {
        display: none;
    }

}

@media (max-width: 768px) {
    nav {
        display: none;
    }


    /* Exibe o segundo nav */
    #navMobile {
        display: block;
    }
}